@import '../../common/styles/Variablies';

.loginComponent {
  background-color: $bgLogin;
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .loginBox {
    width: 670px;
    height: 450px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;

    @media (max-width: 990px) {
      flex-direction: column;
      width: 100%;
      height: 100%;
      padding: 0 30px;
    }

    .loginForm {
      background-color: #fff;
      position: relative;
      width: 60%;
      height: 100%;
      border-left: solid 1px #eaeaea;
      border-radius:10px;
      padding: 30px 15px;

      @media (max-width: 990px) {
        width: 100%;
        border: none;
        border-radius: 10px;
        padding: 30px 35px;
      }


      .loginButtons {
        padding-bottom: 70px;
        margin-right: 50px;
        text-align: right;

        @media (max-width: 990px) {
          text-align: left;
          padding-bottom: 30px;
        }

        .oneButton {
          @include loginButton(#e5e5e5, #000000, 0.1s);
          border-radius: 5px 0 0 5px;
        }

        .twoButton {
          @include loginButton(#e5e5e5, #000000, 0.1s);
          border-radius: 0 5px 5px 0;
        }

        .active {
          background-color: $bgColor;
          color: #fff;
        }
      }
    }
  }

  .repair {
    color: $white;
    margin: 10px 20px 0 20px;
    text-align: center;

    a {
      color: $white;
    }
  }

  .copyright {
    color: $white;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 80%;
    display: flex;
    justify-content: space-between;

    @media (max-width: 990px) {
      margin-top: 10px;
    }

    @media (max-width: 700px) {
      flex-direction: column;
      align-items: center;
    }

    @media (max-width: 358px) {
      font-size: 14px;
    }

    .a {
      color: $white;
    }
  }
}