@import "../../../common/styles/Variablies";

.navBox {
  display: flex;

  @media (max-width: 700px) {
    width: 100%;
    justify-content: space-between;
  }

  .userNav {
    position: relative;

    .userButton {
      position: relative;
      padding: 12px 10px;
      margin-left: 13px;
      color: $white;
      height: 56px;
      display: flex;
      align-items: center;
      border-left: 1px solid #816aec;
      border-right: 1px solid #816aec;
      cursor: pointer;
      transition-duration: 0.2s;
      @include activeBorder();

      @media (max-width: 700px) {
        margin-left: 0;
      }

      svg {
        fill: $white;
        width: 30px;
        height: 30px;
        transition-duration: 0.2s;
      }

      .user {
        margin-left: 10px;
        margin-right: 5px;

        .symbol {
          display: inline-block;
          width: 14px;
        }
      }
    }

    .activeLink:after {
      width: 100%;
    }
  }
}