.nav {
    grid-area: n;
    background-color: #b20000;
    padding: 20px;
}
.item a{
    color: rgba(234, 239, 239, 0.96);
    text-decoration: none;
}

.item a.active{
    color: #5aad94;
}
.users{
    color: greenyellow;
}