@import "../../styles/Variablies";

.inputBox {
  display: inline-block;
  width: 13px;
  height: 13px;
}

.input {
  -webkit-appearance: none;
  appearance: none;
  background-color: $white;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 13px;
  height: 13px;
  border: 1px solid $twoColor;
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

.input::before {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: $bgColor;
}

.input:checked::before {
  transform: scale(1);
}