@import "./../../../../common/styles/Variablies";

.statusComponent {
  margin: 10px;

  .statusBox {
    word-wrap: break-word;

    .status {
      width: 300px;
      color: $twoColor;
      font-size: 18px;
      font-weight: 600;
    }

    svg {
      fill: $twoColor;
      position: relative;
      bottom: -2px;
    }
  }

  .input {
    color: $twoColor;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    border: 1px $colorSearch solid;
    outline: none;
    text-align: center;
    padding: 0 10px;
    height: 27px;
  }
}