.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs_item {
    padding: 10px;
}
.dialogs_item .active{
    color: aqua;
}

.dialog {

}


.messages {
    padding: 10px;
}

.message {

}