@import "../../../../common/styles/Variablies";

.profileDataContainer {

  .titleBox {
    border-bottom: 1px solid #e5e5e5;
    padding: 15px 20px;
    word-wrap: break-word;

    .title {
      font-size: 16px;
      font-weight: 600;
    }
  }

  .contactBox {
    border-bottom: 1px solid #e5e5e5;
    padding: 15px 20px;
    text-align: left;
    display: flex;
    justify-content: left;

    .link {
      color: $linksColor;
      text-decoration: none;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-left: 10px;
    }
  }
}

