@import "../../../common/styles/Variablies";

.paginationComponent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    span {
        cursor: pointer;
    }

    .paginationBox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 600px;

        @media (max-width: 700px) {
            width: 100%;
            flex-wrap: wrap;
        }

        .pageCountBox {
            width: 12%;
            position: relative;

            @media (max-width: 700px) {
                width: 55px;
                text-align: center;
                order: 2;
                margin-top: 5px;
            }

            .pageCount {
                display: inline-block;
                border-radius: 5px;
                width: 55px;
                text-align: center;
                padding: 2px 5px;
                cursor: pointer;
                background-color: $bgColor;
                color: $white;
                font-size: 16px;
                margin-bottom: 2px;
                box-shadow: 0 5px 15px rgb(0 0 0 / 15%);
                transition-duration: 0.3s;

                &:hover {
                    box-shadow: 0 5px 15px rgb(0 0 0 / 30%);
                }
            }

            .pageCountOptions {
                position: absolute;
                left: 0;
                top: 30px;
                background-color: white;
                border: 1px black solid;
                border-radius: 5px;
                width: 55px;
                text-align: center;
                cursor: pointer;

                .el {
                    padding: 4px 0;

                    &:hover {
                        background-color: $bgColor;
                        color: $white;
                        border-radius: 5px;
                    }
                }
            }
        }

        .pagBox {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 88%;

            @media (max-width: 700px) {
                width: 100%;
            }

            .arrowsBox span {
                margin: 0 8px;
                position: relative;
                top: 2px;

                svg {
                    fill: $bgColor;
                }
            }

            .pageNumber {

            }

            .selectPage {
                font-weight: bold !important;
                font-size: 20px !important;
                color: $bgColor;
            }
        }
    }
}

